$white: #FFFFFF;
$grey: #d3d3d3;
$dark-grey: #d3d3d3;
$light-grey: #ededed;

$pink: #D55B3D;
$light-pink: lighten($pink, 10%);

$dev: $light-pink;



$blue: #78DFF1;
$light-blue: lighten($blue, 10%);
